body {
    background: rgb(173, 173, 173);
    color: rgb(10, 9, 54);
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    text-align: center;
}

.master-card-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.card {
    border: 1px solid black;
    box-shadow: 2px 1px 1px black;
    padding: 5px;
    margin: 5px;
}

.master-card-container > * {
    max-width: 50%;
}

.right-card-container {
    display: flex;
    flex-direction: column;
}

/* svg */
.str0 {stroke:black;stroke-width:3;stroke-linejoin:bevel;stroke-miterlimit:2.61313}
.fil0 {fill:black}