<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header-container">
                <img src="/static/ADVINTlogo.svg">
                <div class="intro-text">
                    Welcome to Advanced Interfaces (aka AdvInt)! The name is super vague, I know, but fundamentally the space is about just that: helping think[box] users build better interfaces for their projects. That includes interfaces between people and devices, devices and other devices, and between customers and entrepreneurs.
    
                    So this new part of think[box] is here to help your with any of your interface related problems, mostly by offering software engineering help and advice. We are just getting started this semester, so first off we'll be focusing on helping you build microcontrollers into your think[box] project to let them interface with the rest of the world super easily! Soon to follow is help with developing mobile phone applications, webpages, and pretty much whatever you, a think[box] user, want to build here.
                </div>
            </div>
            <div class="card-container">
                <div class="card">Hello</div>
                <div class="card">Claire</div>
                <div class="card">Diego</div>
                <div class="card">Reid</div>
            </div>
    </body>
</html>