<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header-container">
            <div class="image-and-content">
                <img class="image" src="/static/advint-logo.svg">
            </div>
            <div class="image-and-hours">
                <div class="image-and-content">
                    <img class="image" src="/static/advint-flow.svg">
                    <div class="card content">
                        AdvInt will be open:
                        <br />
                        <br />
                        Monday: 3:00 - 7:00 p.m. <br />
                        Tuesday: 3:00 - 7:00 p.m. <br />
                        Friday: 3:00 - 7:00 p.m. <br />
                        Saturday: 3:00 - 7:00 p.m. <br />
                        Sunday: 1:00 - 7:00 p.m. <br />
                    </div>
                </div>
            </div>
                <div class="info">
                    <div class="card content">
                            Welcome to Advanced Interfaces (aka AdvInt)! The name is super vague, I know, but fundamentally the space is about just that: helping think[box] users build better interfaces for their projects. That includes interfaces between people and devices, devices and other devices, and between customers and entrepreneurs.
                            <br />
                            <br />
                            So this new part of think[box] is here to help your with any of your interface related problems, mostly by offering software engineering help and advice. We are just getting started this semester. First off we'll be focusing on helping you build microcontrollers into your think[box] project to let them interface with the rest of the world super easily! Soon to follow is help with developing mobile phone applications, webpages, and pretty much whatever you, a think[box] user, want to build here.
                    </div>
                </div>    
            </div>
            
        </div>


        <!--
        <div class="image-paragraph-hours">
            <div class="picture">
                <img class="image" src="/static/advint-flow.svg">
            </div>
            <div class="card paragraph">
                Welcome to Advanced Interfaces (aka AdvInt)! The name is super vague, I know, but fundamentally the space is about just that: helping think[box] users build better interfaces for their projects. That includes interfaces between people and devices, devices and other devices, and between customers and entrepreneurs.
                <br />
                <br />
                So this new part of think[box] is here to help your with any of your interface related problems, mostly by offering software engineering help and advice. We are just getting started this semester. First off we'll be focusing on helping you build microcontrollers into your think[box] project to let them interface with the rest of the world super easily! Soon to follow is help with developing mobile phone applications, webpages, and pretty much whatever you, a think[box] user, want to build here.
            </div>
            <div class="card hours">
                AdvInt will be open:
                <br />
                <br />
                Monday: 3:00 - 7:00 p.m. <br />
                Tuesday: 4:00 - 7:00 p.m. <br />
                Friday: 3:00 - 7:00 p.m. <br />
                Saturday: 3:00 - 7:00 p.m. <br />
                Sunday: 1:00 - 7:00 p.m. <br />
            </div>
        </div>
        -->
            <!-- <div class="master-card-container">
                <div class="card">This resource is defined as<br />

                    The space and its contained machines, equipment, and material<br />
                
                    The information available in the space<br />
                
                    The assistance of volunteers and employees in the space.<br />
                
                This resource exists to facilitate the creation of<br />
                
                    Web apps, mobile apps, XR apps, and desktop apps to support entrepreneurial endeavors started at think[box]<br />
                
                    Interfaces to innovative systems and devices which are developed in think[box]<br />
                
                    New, innovative human-machine interfaces<br />
                
                The user is defined as<br />
                
                    Any user of other think[box] resources<br />
                
                    Any person interested in developing an innovative idea which is or includes an interface which the resource may facilitate the creation of<br />
                
                    Any person seeking to learn about and practice the use of this resource<br />
                
                The resource will serve the user to accomplish the goals of each. The user will access the resource responsibly for purposes aligned with its mission.<br />
                
                The resource will largely be available in two discrete modes:<br />
                
                    The basic mode resource consists of static, ready to use example projects which can be copied and modified to suit the purpose of the user, along with advice and tutorials relating to these projects<br />
                
                    The advanced mode resource consists of powerful machinery, specialized equipment, and experienced mentoring available to the user for undefined purposes which align with the goals of the resource<br />
                </div>
                <div class="right-card-container">
                    <div class="card">Hello Hello</div>
                </div>
            </div> -->
            
            <!-- <img class="imgClass" src="/static/samsung-mixed-reality.jpg"> -->
            <!-- <img src="/static/advint-flow.svg"> -->
    </body>
</html>